html {
  height: 100%;
  font-size: $base-font-size;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: $font-family-sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

.logo__image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.logo__text {
  font-weight: bold;
  color: $color-text-logo;
}

abbr {
  text-decoration: none;
}

.main-navbar {
  background-color: var(--dark);
}

main {
  height: $main-height;
  background: url($imatge-main-fons);
  background-size: cover;
  overflow-y: auto;
}

.lateral-container {
  max-width: 1800px;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.peu-pagina-interior {
  position: relative;
  height: 10%;
  text-align: center;
}

.peu-pagina-interior__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 30%;
  font-weight: bold;
  color: $color-footer;
  margin: auto;
}

.social {
  margin-left: 15px;
}
