body {
  padding: 30px;
  margin: 0;
  background-color: $uoc-bg;
  color: $uoc-corporate;
  font-family: $font-family-sans-serif;
}

.uoc-logo {
  display: block;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.uoc-title {
  color: $uoc-corporate;
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
}
