@use "sass:color";

$font-family-sans-serif: "Open sans", sans-serif;
$font-family-serif: "Playfair Display", serif;

$base-font-size: 16px;

$font-size-destacat: 1.3rem;
$line-height-destacat: 1.1;
$font-size-destacat-small: 0.8rem;
$font-size-destacat-extra-large: 2rem;
$font-size-titol-small: 2.5rem;
$font-size-titol-medium: 4rem;
$font-size-titol-large: 6rem;

$main-height: calc(100% - 112px);
$imatge-main-fons: '../images/fons-delta.jpg';

$imatge-portada-fons: '../images/portada-guitarra.jpg';
$imatge-portada-esquerra:'../images/portada-grup.jpg';
$imatge-portada-dreta: '../images/portada-escenari.jpg';

$color-primary: #0f2e4e;
$color-secondary: green;
$color-brown: #ea8c48;
$color-text-logo:#f00;
$color-footer:  #6b0000;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary
);
